@import "custom-variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Welcome page
@import "welcome";

// Login page
@import "auth/login";

// Bills page
@import "bills";

@import "css/sweeet-alert";

body {
  padding-top: 40px;
}

#layout {
  padding-top: 60px;
}

#plus-loader {
  margin-top: 200px;
}

.glyphicon {
//  font-size: 50px;
}
