@import "custom-variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Welcome page
@import "welcome";

// Login page
@import "auth/login";

// Bills page
@import "bills";

// Bill page
@import "bill";

// Clients page
@import "clients";

// Client page
@import "client";

// Products page
@import "products";

@import "css/sweeet-alert";

body {
  padding-top: 40px;
}

#layout {
  padding-top: 60px;
}

#plus-loader {
  margin-top: 200px;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 35px 0 35px 0;
  overflow: hidden;
  background-color: #D6D6D6;
}
