@import "custom-variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Welcome page
@import "welcome";

// Login page
@import "auth/login";

// Register page
@import "auth/register";

@import "auth/recover";

// Bills page
@import "bills";

// Bill page
@import "bill";

// Clients page
@import "clients";

// Client page
@import "client";

// Products page
@import "products";

// Help center page
@import "help-center";

@import "users-manager";

@import "next";

@import "css/sweeet-alert";

body {
  padding-top: 40px;
  background-color: #F4F4F4;
}

#layout {
  padding-top: 60px;
}

.app-logo {
  display: inline-block;
}

.print-statistics-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pointer:hover {
  cursor: pointer;
}

.loading-icon, .search-user-loading-icon {
  display: none;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 35px 0 35px 0;
  overflow: hidden;
  background-color: #D6D6D6;
}

.tt-dropdown-menu, .gist {
  text-align: left;
}


.twitter-typeahead{
  width:100%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  width:100%;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
  cursor: pointer;
}

.tt-suggestion .tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.underline:hover {
  text-decoration: underline;
}

.flat-input {
  border: none;
  border-radius: 3px;
}

.border-input {
  box-shadow: none;
}
.border-input:focus {
  border: 1px solid $brand-primary;
}

.fancy-divider-welcome {
  height: 2px;
  background-color: #bcbcbc;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.fancy-divider-welcome span {
  color: #747474;
  display: inline-block;
  padding: 0 30px 0 30px;
  background-color: #fafafa;
  position: relative;
  top: -20px;
  font-size: 25px;
}

.fancy-divider-white {
  height: 2px;
  background-color: #D8D8D8;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.fancy-divider-white span {
  color: #747474;
  display: inline-block;
  padding: 0 30px 0 30px;
  background-color: #ffffff;
  position: relative;
  top: -20px;
  font-size: 25px;
}

.fancy-divider-blue {
  height: 2px;
  background-color: darken($brand-primary, 10);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.fancy-divider-blue span {
  color: #ffffff;
  display: inline-block;
  padding: 0 30px 0 30px;
  background-color: $brand-primary;
  position: relative;
  top: -20px;
  font-size: 25px;
}

.blue-well {
  color: #ffffff;
  background-color: lighten($brand-primary, 10%);
  border-bottom: 2px solid darken($brand-primary, 5);
  border-left: 1px solid darken($brand-primary, 5);
  border-right: 1px solid darken($brand-primary, 5);
  border-top: 1px solid darken($brand-primary, 5);
}

.underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

.alert-top {
  margin-top: 30px;
}

.pointer-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

.big-icon {
  font-size: 30px;
  color: $brand-primary;
}

.green-big-icon {
  font-size: 30px;
  color: #40D47E;
}

.big-text {
  font-size: 35px;
  color: #737373;
}

.medium-text {
  font-size: 25px;
  color: #737373;
}

.grey-text {
  color: #737373;
}

/* CSS used here will be applied after bootstrap.css */

.dropdown {
  display:inline-block;
  margin-left:20px;
  padding:10px;
}


.glyphicon-bell {

  font-size:1.5rem;
}

.notifications {
  min-width:420px;
}

.notifications-wrapper {
  overflow:auto;
  max-height:250px;
}

.menu-title {
  color:#ff7788;
  font-size:1.5rem;
  display:inline-block;
}

.glyphicon-circle-arrow-right {
  margin-left:10px;
}


.notification-heading, .notification-footer  {
  padding:2px 10px;
}


.dropdown-menu.divider {
  margin:5px 0;
}

.item-title {

  font-size:1.3rem;
  color:#000;

}

.notifications a.content {
  text-decoration:none;
  background:#ccc;

}

.notification-item {
  padding:10px;
  margin:5px;
  background:#ccc;
  border-radius:4px;
}

/**/
.admin-center-title {
  font-size: 20px;
  display: inline-block;
  padding-top: 10px;
}


