@import "css/jquery-ui";

$bill-title-color: #607d8b;
$bill-title-link-color: #455a64;
$bill-head-color: $bill-title-link-color;
$bill-content-color: $bill-title-link-color;

.bill-normal-text-color {
  color: $bill-title-color;
}

.bill-title {
  color: $bill-title-color;
}

.bill-title a {
  color: $bill-title-link-color;
}

.bill-table-head {
  color: $bill-title-link-color;
}

.bill-table-content {
  color: $bill-content-color;
}

.dropdown-option {
  color: $bill-title-link-color;
}

.bill-menu {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bill-title-print {
  display: none;
}

.bill-products-table {
  border-radius: 3px;
}

.editable:hover {
  cursor: pointer;
  text-decoration: underline;
}

.delete-product {
  color: #828282;
}

.delete-product:hover {
  color: #363333;
}

.add-product-to-bill-loader {
  display: none;
}

.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.paid-bill {
  color: $brand-primary;
  cursor: default;
}