.bill-menu {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bill-products-table {
  border-radius: 3px;
}

.bill-title {
  color: #828282;
}

.editable:hover {
  cursor: pointer;
  text-decoration: underline;
}

.delete-product {
  color: #828282;
}

.delete-product:hover {
  color: #363333;
}