.edit-client-details {
  margin-top: 20px;
}

.client-bills {
  margin-top: 15px;
}

.spacer {
  display: inline-block;
  padding: 0 10px;
}

.clients-link {
  color: #ffffff;
}

.clients-link:hover {
  color: #ffffff;
}

.clients-link-underline {
  color: #ffffff;
  text-decoration: underline;
}

.clients-link-underline:hover {
  color: #ffffff;
}