$default-padding: 20px;
$content-background: #f6f7f8;
$content-border: darken($content-background, 9%);

.ff-top-part, .ff-content {
  padding: $default-padding;
}

.ff-top-part {
  background-color: #ffffff;
}

.ff-content {
  background-color: $content-background;
  border-left: 1px solid $content-border;
  border-right: 1px solid $content-border;
}

.ff-content-end {
  background-color: $content-background;
  border-bottom: 1px solid $content-border;
}

.ff-title-and-description {
  display: inline-block;
}

.ff-title {
  font-size: 17px;
  cursor: pointer;
}

.ff-description {
  color: darken($default-grey, 35);
  font-size: 13px;
}

.ff-primary-divider {
  $height: 40px;
  display: inline-block;
  background-color: $brand-primary;
  color: #ffffff;
  vertical-align: middle;
  height: $height;
  width: 100%;
  line-height: $height;
  padding: 0 $padding 0 $padding;
  font-size: 17px;
}