.custom-jumbotron {
  margin-top: -10px;
  color: #878787;
}
.page-text {
  margin-top: -15px;
}

.search-field {
  margin-top: 15px;
}

.ask-button {
  margin-top: 10px;
}

.more-dropdown {
  display: inline-block;
}