.custom-jumbotron {
  margin-top: -10px;
  color: #878787;
  background-color: #F2F2F2;
}
.page-text {
  margin-top: -15px;
}

.search-field {
  margin-top: 15px;
}

.ask-button {
  margin-top: 10px;
}

.more-dropdown {
  display: inline-block;
}

.primary-well {
  background-color: $brand-primary;
  color: #ffffff;
  border-color: $brand-primary;
}

.primary-well:hover {
  color: $brand-primary;
  background-color: #ffffff;
}