.custom-jumbotron {
  margin-top: -10px;
  color: #878787;
  background-color: $brand-primary;
}

.page-text-container {
  margin-bottom: 45px;
}

.page-text {
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
}

.search-field {
  margin-top: 15px;
}

.search-field input {
  border: none;
  border-radius: 3px;
}

.or {
  color: #ffffff;
}

.ask-button {
  margin-top: 10px;
}

.ask-button button {
  background-color: rgba(255,0,0,0);
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
}

.ask-button button:hover {
  background-color: #ffffff;
  color: $brand-primary;
  border-color: #ffffff;
}

.your-questions {
  margin-top: 40px;
}

.your-questions a {
  color: #ffffff;
}

.more-dropdown {
  display: inline-block;
}

.primary-well {
  background-color: $brand-primary;
  color: #ffffff;
  border-color: $brand-primary;
}

.primary-well:hover {
  color: $brand-primary;
  background-color: #ffffff;
}

.fancy-divider {
  height: 2px;
  background-color: #D8D8D8;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.fancy-divider span {
  color: #3a3a3a;
  display: inline-block;
  padding: 0 50px 0 50px;
  background-color: #f4f4f4;
  position: relative;
  top: -20px;
  font-size: 25px;
}

.custom-well {
  $border-color: #E2E2E2;
  background-color: #ffffff;
  box-shadow: none;
  border-top: 1px solid #F0F0F0;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 2px solid $border-color;
}

.well-text {
  color: #7A7A7A;
}

.page-description-container {
  margin-bottom: 25px;
}

.page-description {
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Source Sans Pro', sans-serif;
}

.help-center-load-icon {
  display: inline-block;
  margin-top: 30px;
  font-size: 30px;
  color: #3a3a3a;
}