.action-buttons {
  display: none;
}

.my-clients-title {
  display: none;
}

.bill-title-print {
  display: block;
}

// Hide delete product column
.delete-product {
  display: none;
}

.printed-details {
  border: 1px solid blue;
}

.printed-details span {
  display: inline-block;
  width: 100px;
  border: 1px solid red;
}