.action-buttons {
  display: none;
}

.my-clients-title {
  display: none;
}

.bill-title-print {
  display: block;
}

// Hide delete product column
.delete-product {
  display: none;
}

.printed-details {
  border: 1px solid blue;
  text-align: center;
  width: 100%;
}

.printed-details span {
  display: inline-block;
  width: 20%;
  border: 1px solid red;
}

.printed-details span .left {
  margin-right: 20%;
}

.printed-details span .center {
  margin-right: 20%;
}