.add-product-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.avon-products {
  font-size: 20px;
}

.fancy-divider .product-details {
  font-size: 20px;
  padding-top: 6px;
  display: inline-block;
}