.add-product-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.avon-products {
  font-size: 20px;
}

.fancy-divider .product-details {
  font-size: 20px;
  padding-top: 6px;
  display: inline-block;
}

.search-results-text {
  color: darken($default-grey, 35);
  font-size: 15px;
  margin-bottom: 5px;
}

.search-results-text span {
  display: inline-block;
}

.no-search-results-text {
  color: darken($default-grey, 45);
}

.product-title a {
  color: darken($default-grey, 45);
  font-size: 17px;
}

.product-details {
  color: darken($default-grey, 35);
  font-size: 14px;
}

.search-product {
  cursor: pointer;
}

.search-application-products {
  display: none;
}
