.user-options {
  display: inline-block;
  margin-bottom: 10px;
}
.user-email {
  display: inline-block;
}

.bill-title {
  display: inline-block;
}

.bill-options {
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
}

.primary-hover:hover, .danger-hover:hover {
  cursor: pointer;
}

.primary-hover:hover span {
  color: $brand-primary;
}

.danger-hover:hover span {
  color: $brand-danger;
}

.tab-loader {
  margin-top: 20px;
  font-size: 30px;
}