.user-options {
  display: inline-block;
  margin-bottom: 10px;
}
.user-email {
  display: inline-block;
}

.bill-title {
  display: inline-block;
}

.bill-options {
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
}

.tab-loader {
  margin-top: 20px;
  font-size: 30px;
}