$border-and-text-color: #ffffff;

.custom-button {
  background-color: $navbar-default-bg;
  border: 2px solid $border-and-text-color;
  border-radius: 4px;
  color: $border-and-text-color;
  transition: 300ms;
}

.custom-button:hover {
  background-color: $border-and-text-color;
  color: #3498DB;
  border-color: $border-and-text-color;
  transition: background-color 300ms;
}

.first-section {
  background-color: $navbar-default-bg;
  padding-bottom: 50px;
}

$text-color: #ffffff;

.first-section .welcome-text, .first-section .description-text {
  color: $text-color;
}

.start-button {
  padding: 20px 0 0 0;
}

.start-button button {
  padding: 15px;
}

$second-section-background-color: #F7F7F7;

.second-section {
  background-color: $second-section-background-color;
  color: #515253;
  padding: 20px 0 20px 0;
}

.why-nova {
  padding-bottom: 20px;
}