$border-and-text-color: #ffffff;

.custom-button {
  background-color: rgba(0,0,0,0.0);
  border: 2px solid $border-and-text-color;
  border-radius: 4px;
  color: $border-and-text-color;
  transition: 300ms;
}

.custom-button:hover {
  background-color: $border-and-text-color;
  color: #3498DB;
  border-color: $border-and-text-color;
  transition: background-color 300ms;
}

.first-section {
  background-color: $navbar-default-bg;
  padding-bottom: 50px;
}

$text-color: #ffffff;

.first-section .welcome-text {
//  display: inline-block;
  font-weight: 200;
  font-size: 35px;
  padding-top: 10px;
  padding-bottom: 30px;
  color: $text-color;
}

.first-section .welcome-text {
    color: $text-color;
    font-family: 'Raleway', sans-serif;
}

.first-section .description-text {
  color: #888a85;
  font-size: 16px;
}

.ok-container {
  background-color: #FAFAFA;
  border-radius: 3px;
  margin-bottom: 20px;
}

.ok-container span {
  color: $brand-primary;
}

.start-button {
  padding: 20px 0 60px 0;
}

.start-button button {
  padding: 15px;
}

.video {
  margin-top: -90px;
  margin-bottom: 40px;
  text-align: center;
}

//.video iframe {
//  border: 2px solid #FAFAFA;
//  border-radius: 2px;
//}

$second-section-background-color: #FAFAFA;

.second-section {
  background-color: $second-section-background-color;
  color: #515253;
  padding: 20px 0 40px 0;
}

.why-nova {
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;
}

.gray-color {
  color: #777777;
}

.big-icon span {
  font-size: 50px;
  color: $brand-primary;
}

.icons-row {
  margin-bottom: 50px;
}

/******/
.navbar-default{
//  background-color:#3498DB;
  border:none !important;
}
.navbar-nav>li>a:hover{
  color:#1a1a1a;
}
.collapse.in{

  background-color:#f2f2f2 !important;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus
.spacer{
  background-color:#888;
}

.spacer{
  height:100px;
}

.third-section {
  padding: 80px 0 80px 0;
}

.third-section .title {
  font-family: 'Raleway', sans-serif;
}

.third-section .description {
  font-family: 'Raleway', sans-serif;
  line-height: 160%;
}