#login-page .login-form {
  margin-top: -80px;
}

#login-page .first-text {
  font-size: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
}

#login-page .short-description {
  display: block;
  margin-top: 35px;
  margin-bottom: 45px;
  font-size: 20px;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
}

#login-page .login-button {
  margin-top: 30px;
  margin-bottom: 30px;
}

#login-page .forgot-password a {
  color: #747474;
}

#login-page .forgot-password a:hover {
  color: $brand-primary;
}

#login-page .copyright {
  margin-bottom: 15px;
  color: #747474;
}