#recover-page .recover-form {
  margin-top: -80px;
}

#recover-page .first-text {
  font-size: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
}

#recover-page .short-description {
  display: block;
  margin-top: 35px;
  margin-bottom: 45px;
  font-size: 20px;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
}

#recover-page .recover-button {
  margin-top: 30px;
  margin-bottom: 30px;
}