/**
 * Default button text color.
 */
$btn-default-color: #ffffff;

/**
 * Default button background color.
 */
$btn-default-bg: #78909c;

/**
 * Default button border color.
 */
$btn-default-border: $btn-default-bg;