/**
 * Success button text color.
 */
$btn-success-color: #ffffff;

/**
 * Success button background color.
 */
$btn-success-bg: #06D6A0;

/**
 * Success button border color.
 */
$btn-success-border: #06D6A0;